.square {
    flex: 1;
}

.col {
    max-width: 640px;
    max-height: 640px;
    display: flex;
    justify-content: center;
}

.container {
    width: 640px;
    height: 640px;
    display: flex;
    flex-direction: column;
    border: solid palevioletred 3px;
}

#bt {
    display: flex;
    justify-content: center;
}

.content {
    overflow: hidden;
    display: flex;
    justify-content: center;
}